#circle {
  background-color:rgb(80, 92, 85);
  background-image:url("./profile.png");
  background-position: center;
  border:1px solid black;    
  height:400px;
  width: 400px;
  border-radius:50%;
  position:relative;
  top:50%;
  margin: auto;
  


  
}
#circle:hover {
  background-color:rgb(80, 92, 85);
  background-image:url('./profile.png');
  background-position: center;
  border:1px solid black;    
  height: 450px;
  width: 450px;
  border-radius:50%;
  position:relative;
  top:50%;
  margin: auto;
  transition-property: width,height;
  transition-duration: 5s;
  
}

.ct
{ 
  /* Center vertically and horizontally */
  display: flex;
  width: 100%;
  height:auto;
  position: relative;
  top:100px;
  justify-content: center;
  align-items: center;
  left: -100px;
  
 
}
body
{
  background: #040405;
  color: wheat;
  font-size: 40px;
}
#sp::before {
  content: 'Hi ';
  margin-top: 25px;
  font-size: 40px;
  text-align: center;
  animation: fadein 4s;
  position: relative;
  top: 20%;
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

#semi
{
  height: 500px;
  width: 100px;
  border-radius: 500px 500px 500px 500px;
  background-color: black;
  position: relative;
  left:300px;
  
  
}